.left{
  width: 106rem;
  height: 59rem;
  background-color: var(--lightGrey);
  border-radius: 29.7rem 29.7rem 29.7rem 0;
  position: absolute;
  left: 0%;
  top: 52%;
  z-index: -2;
}

@media screen and (width <= 1080px){
  .left{
    display: none;
  }
}