.left{
  position: absolute;
  left: 0%;
  top: 52%;
  z-index: -2;
}

.right{
  position: absolute;
  top: 33%;
  right: -10%;
  z-index: -5;
  transform: rotateZ(180deg);
}

@media screen and (width <= 1080px){
  .left, .right{
    display: none;
  }
}