@import "../mixins.scss";

.ctaContainer{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  position: absolute;
  top: -40%;
  left: 0;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem;
  background-color: var(--peach);
  color: var(--white);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ctaText {
  h2 {
    @include font-h2();
    line-height: 4rem;
  }

  p {
    max-width: 45.9rem;
    margin-top: 1.5rem;
    @include body-font();
  }
}

.ctaBg {
  position: absolute;
  right: 0;
}

@media screen and (width <= 850px) {
  .ctaContainer {
    padding: 0 2rem !important;
  }

  .cta {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
  }
}

@media screen and (width <= 620px){
  .ctaContainer {
    padding-top: 15rem !important;
    padding-bottom: 15rem;
  }
}

@media screen and (width <= 580px) {
  .ctaText {
    h2 {
      font-size: 3.2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media screen and (width <= 320px){
  .ctaText{
    h2{
      font-size: 2.8rem;
    }
  }
}
