@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--white);
}

// colors
:root {
  /*** Primary colors ***/
  --peach: #e78168;
  --peach-rgb: rgb(231, 129, 107);
  --black: #1d1c1e;
  --black-rgb: rgb(29, 28, 30);
  --white: #ffffff;
  --white-rgb: rgb(255, 255, 255);

  /*** Secondary colors ***/
  --lightPeach: #ffad9b;
  --lightPeach-rgb: rgb(255, 173, 155);
  --darkGrey: #333136;
  --darkGrey-rgb: rgb(51, 49, 54);
  --lightGrey: #f1f3f5;
}

// @-moz-document url-prefix() { 
//   body {
//      background-color: lime;
//   }
// }


.container {
  padding: 0 15rem;
  // position: relative;
  // overflow: hidden;
}

.displayNav{
  display: flex;
  // transform: translateX(-100%);
  // transition: transform .6s ease-in-out;
  animation: slideInNav .6s ease-in-out;
}

.cursor-pointer{
  cursor: pointer;
}

.border-radius{
  border-radius: 1.5rem;
}

.btn-hover:hover{
  background-color: var(--lightPeach);
  color: var(--white);
}

@media screen and (width <= 1450px){
  .container{
    padding: 0 10rem;
  }
}

@media screen and (width <= 1290px){
  .container{
    padding: 0 5rem;
  }
}

@media screen and (width <= 1190px){
  .container{
    padding: 0 3rem;
  }
}

// @media screen and (width <= 820px) {
//   .container {
//     padding: 0 5rem;
//   }
// }

@media screen and (width <= 660px){
  .container {
    padding: 0;
  }
}

@keyframes slideInNav{
  0%{
    opacity: 0;
    transform: translateX(40rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

// @keyframes slideOutNav{
//   0%{
//     opacity: 0;
//     transform: translateX(-40rem);
//   }

//   100%{
//     opacity: 0;
//     transform: translateX(0);
//   }
// }